*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    background:#2A2826;
    color:#fff;
}
h1,h2,h3{
    margin:0 0 20px;
    text-align:center;
}
.page{
    padding:20px;
}
.offline{
    color:#cc0000;
    text-align:center;
}
.monitors:after{
    clear:both;
    content:'';
    display:block;
    height:0px;
    width:0px;
}
.monitor{
    border-radius:10px;
    float:left;
    height:300px;
    overflow:hidden;
    padding:30px;
    width:calc(100%/3);
}
.orders{
    margin:0 0 30px;
}
