*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    background:#2A2826;
    color:#fff;
}
h1,h2{
    margin:0 0 20px;
    text-align:center;
}
.page{
    padding:20px;
}
.offline{
    color:#cc0000;
    text-align:center;
}
#containers{
    padding:20px;
    width:100%;
    height:100%;
}
.container{
    margin:0 0 50px;
}
.container:after{
    clear:both;
    content:'';
    display:block;
    height:0px;
    width:0px;
}
.monitor{
    border-radius:10px;
    height:300px;
    overflow:hidden;
    width:48%;
}
.monitor:nth-child(odd){
    clear:left;
    float:left;
}
.monitor:nth-child(even){
    clear:right;
    float:right;
}
.orders{
    margin:0 0 30px;
}
.orders:nth-child(odd){
    clear:left;
}
.orders:nth-child(even){
    clear:right;
}